<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.bobwoolard.com" port="25" userName="admin" password="deadFax186"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="UserName" value="txtYourName"/>
    <add key="UserEmail" value="txtYourEmail"/>
    <add key="FirstFriendName" value="txtFirstFriendName"/>
    <add key="FirstFriendEmail" value="txtFirstFriendEmail"/>
    <add key="SecondFriendName" value="txtSecondFriendName"/>
    <add key="SecondFriendEmail" value="txtSecondFriendEmail"/>
    <add key="ThirdFriendName" value="txtThirdFriendName"/>
    <add key="ThirdFriendEmail" value="txtThirdFriendEmail"/>
    <add key="EmailSubject" value="txtEmailSubject"/>
    <add key="EmailBody" value="txtEmailBody"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="dbConnect" connectionString="Data Source=NOMALCOLM\SQLEXPRESS;Initial Catalog=BirthdayGiftV2_0;User ID=giftuser;pwd=bd4yg1ft3r" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConnect" connectionString="Data Source=ASAD\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True" />-->
    <!--<add name="BobConnect" connectionString="Data Source=ASAD-PC\SQL2008DEV;Initial Catalog=ProjectTracker;Integrated Security=True"/>-->
    <!--<add name="dbConnect" connectionString="Data Source=ASAD-PC\SQLEXPRESS;Initial Catalog=thefreebirthday;Integrated Security=True; Connect Timeout=20000;"/>-->
    <add name="dbConnect" connectionString="Data Source=(local);Initial Catalog=thefreebirthday;Integrated Security=True; Connect Timeout=20000;"/>
    <!--<add name="dbConnect" connectionString="Data Source=ASAD-PC\SQL2008DEV;Initial Catalog=BirthdayGiftV2_0_Bob;Integrated Security=True; Connect Timeout=20000;"/>-->
    <!--<add name="TBRConnect" connectionString="Data Source=ASAD-PC\SQL2008DEV;Initial Catalog=BirthDayGiftV2_0_TBR;Integrated Security=True; Connect Timeout=20000;"/>-->
  </connectionStrings>

  <system.web>
    <pages enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="Login.aspx" protection="All" timeout="60">
        <credentials passwordFormat="Clear">
          <user name="asad" password="asad" />
          <user name="bwoolard" password="bday4dm1n!" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"></customErrors>
  </system.web>
  <location path="Email/EmailOpen.aspx" >
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="TAF.aspx" >
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Email/EmailCerts" >
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>